main {
  background: url(/assets/imagens/background-completo.png);
  background-size: cover;
  min-height: 60vh;
}

.botao__desabilitado {
  background: #7A7F87;
  color: #FFFFFF;
  max-width: 270px;
  width: 250px;
  padding: 1rem;
  margin: 0 auto;
  border: 2px solid #C4C4C4;
  border-radius: 10px;
  transition: 0.5s ease;
}
